* {
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-drag: none;
	-moz-user-select: none;
	-o-user-drag: none;
	-o-user-select: none;
	-ms-user-drag: none;
	-ms-user-select: none;
}

body {
	display: flex;
	background: #1e1e1e;
	justify-content: center;
	align-items: center;
}

.container {
	width: 90%; /* Set container to take up 80% of the viewport width */
	display: grid;
	justify-items: center; /* Center items horizontally */
	grid-template-columns: 1.2fr 1fr; /* Adjust to make possible-teams wider */
}

.agent-selector, .possible-teams {
	display: block;
	border: 5px solid #222; /* Optional: Add a border for visual separation */
	border-radius: 40px; /* Optional: Add rounded corners */
	box-shadow: 0px 0px 15px #111;
	color:white;
	margin: 1.5%;
	padding-top: 2.5%;
	
	
}

.agent-selector {
	background: #333; /* Optional: Add background color */
	overflow-y: auto;
	height: 100%;
	width: 90%;
}

.possible-teams {
	background: #444; /* Optional: Add background color */
	width: 90%;
}

.button-group {
	display: flex; /* Use Flexbox for button alignment */
	justify-content: center; /* Center buttons horizontally */
	margin-top: 1em;
}

.possible-teams table {
	justify-items: center;
	overflow-y: scroll;
	display: block;
	margin: 1%;
	padding-top:2%;
	width: 100%;
	height:600px;
	border-collapse: collapse;
}


.agent-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr); /* 5 columns layout */
	justify-items: center; /* Center images in their grid cells */
	row-gap: 1em;
	max-height: 550px;
	overflow-y: auto; /* Allow scrolling if text is too long */
	text-align: center;
	margin: 2.5%;
	padding: 2.5%;
}

.agent-grid img {
	width: 85%; /* Adjust size as needed */
	height: auto;
}

.agent-card {
	text-align: center;
}

.agent-card img {
	width: 85%; /* Adjust size as needed */
	height: auto;
	border: hidden;
	border-radius: 20px; /* Optional: Add rounded corners to images */
	margin-bottom: 5px; /* Space between image and text */
}

.agent-card p {
	margin: 0;
	font-size: 14px; /* Adjust font size as needed */
}

img:hover {
	box-shadow:0px 0px 30px #222; /* Optional: Add shadow for selected agent */
	transform: translateY(-10px);
	transition-duration: 0.15s;
}

.table-header {
	font-weight: bold;
	text-align: center;
}

.button-group {
	margin-top: 1em;
}

.tabs {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
}

button {
	margin: auto;
	padding: 0.5em 1em;
	border: none;
	border-radius: 4px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
}

.tabs button {
	width: 44%;
	background-color: #555;
	color: white;
	font-size: 1em;
	border-radius: 40px;
	cursor: pointer;
} 

.tabs button.active {
	background-color: #444; /* Active tab color */
	color: white;
	border: 2px solid #bbbbbb; /* Active tab border color */
	box-shadow: 0px 0px 15px #222; /* Optional: Add shadow for active tab */
}

.tabs button:hover {
	background-color: #777; /* Darker shade on hover */
}

button:hover {
	background-color: #0056b3;
}

h1 {
	color: #ff3e00;
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 100;
	text-align: center;
}

h2 {
	text-align: center;
}

td {
	padding:1em;
}

.possible-teams table::-webkit-scrollbar {
	display:none;
}

.agent-image {
    width: 100px; /* Adjust size as needed */
    cursor: pointer;
    border: 2px solid transparent; /* Default border */
    border-radius: 15px; /* Rounded corners */
  }

.owned .agent-image.selected {
    border-color: #0088ff; /* Border color when selected */
  }

.mustHave .agent-image.selected {
    border-color: #ff0000; /* Border color when selected */
  }

.agent-grid::-webkit-scrollbar {
	display:none;
}